-i https://pypi.org/simple/
aiohttp==3.6.2
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.0
chardet==3.0.4
click==7.1.2
dateparser==0.7.4
fastapi==0.54.1
gunicorn==20.0.4
h11==0.9.0
httptools==0.1.2 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
idna==3.2
multidict==4.7.6
pydantic==1.8.2
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2021.1
regex==2021.4.4
six==1.16.0
soupsieve==2.2.1
starlette==0.13.2
typing-extensions==3.10.0.0
tzlocal==2.1
uvicorn==0.11.3
uvloop==0.15.2 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
websockets==8.1
yarl==1.6.3
